<div class="controller">
    @model ConfigMan.ViewModels.SympaMessage
    @{
        ViewBag.Title = Model.Title;
    }

    <h2>
        @Html.DisplayFor(model => model.Title)
    </h2>
    <p>
        @Html.DisplayFor(model => model.Tekst)
    </p>

    <address>

        <dl id="sympaAbout">
            <dt>Developer :</dt>
            <dd>AdH.Code - Aart den Hoed</dd>
            <dt>ADHC - HomePage :</dt>
            <dd><a href="http://ahmrdh.home.xs4all.nl/Index.html">Klik hier</a></dd>
            <dt>LinkedIn :</dt>
            <dd><a href="https://nl.linkedin.com/in/aartdenhoed">Klik hier</a></dd>
            <dt>Mail :</dt>
            <dd><a href="mailto:adh.code@gmail.com">AdH.Code</a></dd>
        </dl>

    </address>
</div>