body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%
}
h2, h3 {
    font-weight: bold;
}
#sympaAbout {
    overflow: hidden;
    width: 100%;
}
#sympaAbout>dt {
    width: 15%;
    float: left;
    clear: left;
    text-align: right;
    padding-right: 1%;
}
#sympaAbout>dd {
    width: 50%;
    float: left;
}
#wrapper {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: lightblue;
}
.header {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    float: left;
    margin: 0;
    background-image: url(/Images/Blueguitar.png);
    background-size: cover;
}
.title {
     text-align: center;
     font-size: x-large;
     font-weight: bold;
     height: 5%;
     width: 100%;
     color: yellow;
}
.version {
    color: white;
    text-align: center;
    vertical-align: central; 
    
}
#sympaSprite { 
    width: 80%;
    height: 80%;
    float: left;
    margin: 2%;
    padding: 2%;
}
.content {
    width: 100%;
    height: 85%;
    box-sizing: border-box;  
    float: left; 
    margin: 0;
    padding: 0; 
}
.footer {
    width: 100%;
    height: 3%;
    box-sizing: border-box; 
    float: left;  
    margin: 0;
    padding: 0; 
    
}
.leftcol {
    width: 14%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    margin: 0;
    margin-top: 0.5%;
    padding-left: 0.5%;
}
.midcol {
    width: 85%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    margin: 0;
    margin-top: 0.5%;
}
#content {
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 6px 6px 6px Black;
    background-color: lightblue;
    padding: 0;
    overflow: auto;
}
.controller {
    margin: 1%;
    height: 95%;
    width: 98%;
}
.cline {
    background-color: lightgrey;
    text-align: center;
    width: 100%;
    height: 3%;
    margin: 0;
    padding: 0; 
    bottom: 0;
    position: fixed
}
.menu {
    display: block;
    padding: 0.5%;   
    margin: 0.5%;
    float: left;
    width: 95%;
    height: 100%;
    border: solid 2px #000000;
    border-radius: 12px;
    box-shadow: 4px 4px 4px Black;
    background-color: lightskyblue;
}
.menu>li {
    display: block;
    margin: 3%;
    padding: 3%;
    text-align: center;
    width: 90%;
    height: 8%;   
    list-style: none; 
    border: solid 1px #000000;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 0px#000000 ;
    background-color: blue;  
    }
.menu>li>a {
    color: white;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    border: none;
}
.menu>li:hover {
    box-shadow: 4px 4px 4px 0px #000000  inset;
    background-color: lightseagreen;  
    font-weight: bold;
    font-size: smaller;
    
}
.index-wrapper {
    background-image: url(/Images/ValleeEtroite.png);
    background-size: cover;
    background-color: azure;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    border-radius: 12px;
}
.sympaMsg {
    color: red;
}
.preload {
    display: none;
    background-image: url(/Images/Button.png);
}
.moremenu {
    display: block;
    float: left;
    width: 25%;
    height: 75%;
}
.menu2 {
    display: block;
    padding: 0.5%;
    margin: 0.5%;
    width: 25%;
    height: 75%;
    border: solid 2px #000000;
    border-radius: 12px;
    box-shadow: 4px 4px 4px Black;
    background-color: lightskyblue;
}
.menu2>li {
    display: block;
    margin: 3%;
    padding: 3%;
    text-align: center;
    width: 95%;
    height: 15%;
    list-style: none; 
    border: solid 1px #000000;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 0px#000000 ;
    background-color: blue;  
    }
.menu2>li>a {
    color: white;
    text-decoration: none;
    display: block;
    height: 95%;
    width: 95%;
    border: none;
}
.menu2 > li:hover {
    box-shadow: 4px 4px 4px 0px #000000 inset;
    background-color: lightseagreen;
    font-weight: bold;
    font-size: smaller;
}
.menu3{
    display: block;
    padding: 0.5%;
    margin: 0.5%;
    width: 95%;
    height: 95%;
    border: solid 2px #000000;
    border-radius: 12px;
    box-shadow: 4px 4px 4px Black;
    background-color: lightskyblue;
}
.menu3 > li {
    display: block;
    margin: 3%;
    padding: 3%;
    text-align: center;
    width: 95%;
    height: 15%;
    list-style: none;
    border: solid 1px #000000;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 0px#000000;
    background-color: blue;
}

.menu3 > li > a {
    color: white;
    text-decoration: none;
    display: block;
    height: 95%;
    width: 95%;
    border: none;
}

.menu3 > li:hover {
    box-shadow: 4px 4px 4px 0px #000000 inset;
    background-color: lightseagreen;
    font-weight: bold;
    font-size: smaller;
}
.below2 {
    height: 5%;
    display: block;
    float: none;
}
#loadfile {
    width: 80%;
    padding: 3%;
}
.dataset {
    width: 100%;
    max-width: none;
    
}
.sy-a:hover {
    color: purple;
    background-color: yellow;
}
.sy-alist:hover {
    color: purple;
    background-color: yellow;
}
.sy-url:hover {
    color: purple;
    background-color: yellow;
}
.sy-aID:hover {
    color: purple;
    background-color: yellow;
}
.sy-dl {
    overflow: hidden;
    margin: 1%;
}

.sy-dd {
    width: 75%;
    float: left;
}

.sy-dt {
    width: 24%;
    float: left;
}
.sy-button {
    color: black;
    background-color: lightskyblue;
    border-color: darkblue;
    font-size: larger;
    margin: 3%;
    border-radius: 12px;
}

.sy-button:hover {
    background-color: lightgreen;
}
.sy-button:disabled:hover {
    background-color: red;
}
.sy-input {
    width: 100%;
    background-color: antiquewhite;
}
.sy-input40 {
    width: 40%;
    background-color: antiquewhite;
}
input[disabled], textarea[disabled],
select[disabled='disabled'] {
    -webkit-text-fill-color: rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
}
input[readonly], textarea[readonly],
select[readonly='readonly'] {
    -webkit-text-fill-color: #333333;
    color: #333333;
    background-color: #eeeeee;
}
.sy-field textarea {
    font-size: inherit;
    color: black;
    font-family: sans-serif;
}

.sy-field select {
    width: 100%;
}

.sy-field {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;   
    font-size: inherit;
    color: black;
    background-color: lightgray;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.sy-field:focus:not([readonly]),
.sy-field:active:not([readonly]) {
    border-color: darkblue;
    background-color: lightblue;
    color: black;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.sy-field:read-only {
    background-color: lightgray;
    color: black;
}

.sy-field:disabled {
    background-color: lightgray;
    color: black;
}

.sy-field:enabled:read-only {
    background-color: lightgray;
    color: black;
}

.sy-field:enabled:not([readonly]) {
    background-color: antiquewhite;
    color: black;
}
.sy-table {
    background-color: lightblue;
    margin-right: 3%;
    width: 100%;
}
.sy-table tr:nth-child(even) {
    background-color: lightyellow;
        
}

.sy-table tr:nth-child(odd) {
    background-color: lightgreen;
       
}

.sy-table th {
    background-color: lightblue;
    text-align: left;
}

.sy-table td {
    text-align: left;
}

.sy-div {
    height: 5%;
    width:100%;
}
.sy-gekoppeld {
    background-color: greenyellow;
}
.sy-aantal {
    float: right;
    background-color: aqua;
}
.sy-readonly {  
    width: 100%;
    background-color: khaki  !important;
}
