<div class="controller">
    @model ConfigMan.ViewModels.ComponentVM

    @{
        ViewBag.Title = "Component Details";
    }

    <h2>Details</h2>

    <div>
        <h4>Component</h4>
        <hr />
        <dl class="sy-dl">
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.ComponentName)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.ComponentName)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Bewerk", "Edit", new { id = Model.ComponentID}, new { @class = "sy-a" }) 
    </p>
    <p>
        @Html.ActionLink("Terug naar lijst", "Index", "", new { @class = "sy-a" })
    </p>
    
</div>
